<div>
    <MudAppBar Class="pt-2 pb-2" Bottom="true" Fixed="true" Color="Color.Primary" Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Announcement" Color="Color.Inherit" Edge="Edge.End" Href="/news" Size="Size.Large" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Filled.Create" Color="Color.Inherit" Edge="Edge.End" Href="/postalert" Size="Size.Large" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" Href="/adminprofile" Size="Size.Large" />
    </MudAppBar>
</div>

@code {

}
