@inherits LayoutComponentBase

<div class="page">
    @if (admin)
    {
        <AdminNavBar />
    }
    else
    {
        <NavBar />

    }
    <MudThemeProvider />


    <main>
        <div class="top-row px-4">
            <a href="/postupdate">Update Alert</a>
            <a href="/postalert" @onclick="@ChangeView">Change View</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private Boolean admin = false;

    private void ChangeView()
    {
        admin = !admin;
    }
}


