@inherits LayoutComponentBase

<div class="page">
		<NavBar />
        <MudThemeProvider />


        <main>
            <div class="top-row px-4">
                <a href="/postalert">Post Alert</a>
                <a href="/adminprofile">Admin Profile</a>
                <a href="/updatealert">Update Alert</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
</div>

