<div>
    <MudAppBar Elevation="0" Class="pt-2 pb-2" Fixed="true" Bottom="true" Color="Color.Primary" >
        <MudIconButton Icon="@Icons.Material.Filled.Business" Color="Color.Inherit" Edge="Edge.Start" Href="/depts" Size="Size.Large" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Announcement" Color="Color.Inherit" Edge="Edge.End" Href="/news" Size="Size.Large" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit" Edge="Edge.End" Href="/profile" Size="Size.Large" />
    </MudAppBar>
</div>

@code {

}

