@page "/createAccount"
@using System.Text
@using System.Net.Mime
@using System.Text.Json
@using emerge.Data

<MudText Typo="Typo.h3" Align="Align.Center">Create New Account</MudText>
<MudDivider DividerType="DividerType.Middle" Class="my-6" />

<p>
    <MudContainer Class="d-flex justify-center align-center"><MudImage Src="images/profile_pic.png" Alt="profile pic" /></MudContainer>
</p>

<MudContainer Class="d-flex justify-center align-center">
    <MudRadioGroup @bind-SelectedOption="Administrator">
        <MudRadio Option="false" Color="Color.Primary" UnCheckedColor="Color.Default">User</MudRadio>
        <MudRadio Option="true" Color="Color.Primary" UnCheckedColor="Color.Default">Administrator</MudRadio>
    </MudRadioGroup>
</MudContainer>

<MudContainer Class="d-flex justify-center align-center rounded-xl">
    <MudItem xs="12" sm="6" md="4">
        <MudStack Spacing=1>
            <MudTextField @bind-Value="Name" FullWidth="true" Label="Name" Variant="Variant.Outlined" Required="true"></MudTextField>
            <MudSpacer />
            <MudTextField @bind-Value="Username" FullWidth="true" Label="Username" Variant="Variant.Outlined" Required="true"></MudTextField>
            <MudSpacer />
            <MudTextField @bind-Value="Email" FullWidth="true" Label="Email" Variant="Variant.Outlined" Required="true"></MudTextField>
            <MudSpacer />
            <MudTextField @bind-Value="Password" FullWidth="true" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" Required="true"></MudTextField>
            <MudSpacer />
        </MudStack>
    </MudItem>
</MudContainer>

<MudContainer Class="d-flex justify-center align-center pt-2">
    <MudButton Href="/profile"
               Disabled="@_processing"
               OnClick="AddProfile"
               Variant="Variant.Filled"
               Color="Color.Primary">Sign Up</MudButton>
</MudContainer>
<MudContainer Class="d-flex justify-center align-center pt-4">
    <MudButton Href="/"
               Variant="Variant.Outlined">Back</MudButton>
</MudContainer>



    @code {
        public string Name { get; set; }
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public bool Administrator { get; set; } = true;
        private bool _processing = false;

        private async Task AddProfile()
        {
            _processing = true;

            HttpClient client = new HttpClient { BaseAddress = new Uri("https://emergeproj.azurewebsites.net/api/profile") };

            HttpResponseMessage response = null;

            var payload = new UserProfile()
            {
                Name = Name,
                Username = Username,
                Password = Password,
                Email = Email,
                Admin = Administrator
            };

            if (payload.Username != null && payload.Password != null && payload.Name != null && payload.Email != null)
            {
                var payloadString = new StringContent(System.Text.Json.JsonSerializer.Serialize(payload), Encoding.UTF8, MediaTypeNames.Application.Json);

                response = await client.PostAsync(client.BaseAddress, payloadString);
            }

            _processing = false;
        }

        bool isShow;
        InputType PasswordInput = InputType.Password;
        string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

        void ButtonTestclick()
        {
            @if (isShow)
            {
                isShow = false;
                PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
                PasswordInput = InputType.Password;
            }
            else
            {
                isShow = true;
                PasswordInputIcon = Icons.Material.Filled.Visibility;
                PasswordInput = InputType.Text;
            }
        }
    }

