@page "/depts"
@using emerge.Data

<NavBar />
<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Class="mt-5"><b>Departments</b></MudText>
    <div>
        <MudButton Variant="Variant.Outlined" href="/">Followed Departments</MudButton>
        <MudButton Variant="Variant.Outlined" href="/">All Departments</MudButton>
    </div>

    <MudGrid Spacing="10">
        @foreach (var depts in deptController.getDeptList()) //loop through alert list
        {
            <MudItem xs="6" sm="6" md="6" lg="6" Class="mt-4">
                <MudGrid Spacing="1">
                    <MudPaper Class="product-item" Elevation="3" Style="cursor:pointer;">
                        <MudItem Class="mb-1">
                            <MudImage Src=@depts.ImageUrl Width="300" Height="100" Fluid="true" ObjectFit="ObjectFit.ScaleDown"></MudImage>
                        </MudItem>
                        <MudItem xs="12" Class="mx-2">
                            <MudPaper Elevation="0" Class="d-flex flex-wrap justify-space-between">
                                <MudText Typo="Typo.h6">@depts.Title</MudText>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12" Class="ma-2">
                            <MudText Typo="Typo.button">@depts.Description</MudText>
                        </MudItem>
                        <MudItem xs="12" Class="mx-2 my-1">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">View more</MudButton>
                        </MudItem>
                        <MudItem xs="12" Class="mx-2 my-1">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleFollow" FullWidth="true">Follow / Unfollow</MudButton>
                            @* Need to work with whoever does user profile so that button can check state for whether or not user
                                is currently following department so button displays properly and sends correct request to azure *@
                        </MudItem>
                    </MudPaper>
                </MudGrid>
            </MudItem>
        }
    </MudGrid>
</MudContainer>

@code {
    private DepartmentController deptController = new DepartmentController();

    void HandleFollow()
    {
        // To Do: Get user followed status for given department

        // if (currently following)
        // send unfollow api request to azure
        // show "follow" text on button
        // else (not currently following)
        // send follow api request to azure
        // show "unfollow" text on button
    }
}