@page "/alert"
@using emerge.Data

<MudContainer Class="mt-16">
     
    <MudButton Variant="Variant.Outlined" href="/news">Alerts</MudButton>
    <div>
        <MudText Typo="Typo.h3" Class="mt-5"><b>alertInfo.Title</b></MudText>
        <MudText Typo="Typo.h5">PRIORITY: 5</MudText>
        <MudText Typo="Typo.body1">alertInfo.Author</MudText>
        <MudText Typo="Typo.body1">OCTOBER 19, 2022 2:12 PM</MudText>
        <MudPaper Class="pa-6 ma-4" Elevation="3">
            <MudText Typo="Typo.subtitle1">Integer risus nunc, mattis in ornare sit amet, aliquam quis ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut mauris massa, iaculis non augue vitae, mattis tincidunt turpis. In laoreet turpis leo, ut laoreet leo blandit feugiat. </MudText>
        </MudPaper>
    </div>
    <div>
        <MudText Typo="Typo.h4" Class="mt-5"><b>Updates</b></MudText>
        @*@foreach (var u in alertInfo.Updates)
        {
            <MudPaper Class="pa-6 ma-4">
                <MudText Typo="Typo.subtitle2">@u.DateTime</MudText>
                <MudText Typo="Typo.subtitle1">@u.Description</MudText>
            </MudPaper>
        }*@
        </div>

    </MudContainer>

@code {
    
}